<br>
<%= form_for(@contact, html: { class: "basic-grey"}) do |form| %>
  <h1>Contatos</h1>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :kind_id %>
    <%= form.collection_select(:kind_id, @kind_options_for_select, :id, :description) %>
  </div>

  <%= form.fields_for :adress do |adress_fields| %>
    <div class="field"><br>
      <%= adress_fields.label :street %><br>
      <%= adress_fields.text_field :street %>
    </div>
    <div class="field">
      <%= adress_fields.label :city %><br>
      <%= adress_fields.text_field :city %>
    </div>
    <div class="field">
      <%= adress_fields.label :state %><br>
      <%= adress_fields.select :state, options_for_states(@contact.adress.state) %>
    </div>
  <% end %>

  <div id="phones">
    <%= form.fields_for :phones do |phones_fields| %>
      <%= render "phone_fields", f: phones_fields %>
    <% end %>

    <div class="field">
      <br><%= link_to_add_association('Adicionar Telefone', form, :phones, class: "badge badge-pill badge-secondary") %>
    </div>
  </div>

  <div class="field">
    <br><%= form.label :rmk %>
    <%= form.text_area :rmk %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar", class: "btn btn-danger" %>
    <%= link_to t('buttons.back'), contacts_path, class: "btn btn-secondary" %>
  </div>

  <% if @contact.errors.any? %>
    <% contact.errors.full_messages.each do |message| %>
      <script>
        $.notify("<%= message %>", "error");
      </script>
    <% end %>
  <% end %>
<% end %>
