<br>
<div class="basic-grey">
  <script>
    $.notify("<%= notice %>", "success");
  </script>
  <h1><%= @contacts.model_name.human(count: @contacts.count) %></h1>

  <table>
    <thead>
      <tr>
        <th><%= @contacts.human_attribute_name("name") %></th>
        <th><%= @contacts.human_attribute_name("kind") %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr style="background: <%= cycle('#f0f0f5', 'white') %>">
          <td><%= contact.name %></td>
          <td><%= contact.kind.description %></td>
          <td><%= link_to t('buttons.edit'), edit_contact_path(contact), class: "badge badge-pill badge-secondary" %></td>
          <td><%= link_to t('buttons.destroy'), contact, method: :delete, data: { confirm: t('messages.confirm') }, class: "badge badge-pill badge-dark" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br><%= page_entries_info @contacts %><br>
  <p style="text-align: right;">
    <%= link_to_prev_page @contacts, t('buttons.prev'), class: "badge badge-pill badge-secondary"  %>
    <%= link_to_next_page @contacts, t('buttons.next'), class: "badge badge-pill badge-dark" %>
  </p>
  <br><br>
  <%= link_to t('buttons.home'), home_index_path, class: "btn btn-secondary" %>
  <%= link_to t('buttons.new'), new_contact_path, class: "btn btn-danger" %>
</div>
