<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @adress.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @adress.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @adress.state %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @adress.contact %>
</p>

<%= link_to t('buttons.edit'), edit_adress_path(@adress) %> |
<%= link_to t('buttons.back'), adresses_path %>
